main {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
}

button{
  cursor: pointer;
}

#insert-section h1{
  font-size: 230%;
  text-decoration: underline 2px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.tabela h1{
  font-size: 230%;
  text-decoration: underline 2px;
  margin-top: 10px;
}

table {
  margin: 50px auto;
  margin-top: 0;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 20%;
  border-radius: 5px;
}

.modal h2{
  font-size: 160%;
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 0%;
  padding: 0%;
}

#close-modal-btn{
  margin-left: 1%;
}

#update-modal-btn{
  margin-right: 1%;
}

#insert-section{
  border: solid 1px;
  border-radius: 10px;
  width: 40%;
}

#insert-section input{
  width: 230px;
  height: 25px;
  padding: 0 3px;
  border: #666 solid 2px;
  border-radius: 5px;
  font-size: 15px;
}

#insert-section label{
  text-align: left;
  margin-left: 1%;
}

#insert-section button{
  width: 150px;
  height: 25px;
  font-size: 16px;
  margin-bottom: 3%;
  transition: 0.3s;
  border: solid 1px black;
  border-radius: 5px;
}

#insert-section button:hover{
  transform: scale(0.9, 0.9);
}

.inputSection{
  width: fit-content;
  text-align: left;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.tabela{
  border: solid 1px;
  border-radius: 10px;
  width: 50%;
  margin-left: 3%;
}

table{
  max-width: 10%;
  width: 10%;
}

.pesquisa{
  margin-bottom: 3%;
  margin-top: -1%;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.pesquisa input{
  width: 150px;
  height: 12px;
  padding: 4px;
  border: #666 solid 2px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 0.5%;
}

.pesquisa button{
  vertical-align: 1px;
  margin-left: 0.5%;
  width: 90px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 5px;
}

.pesquisa button:hover{
  transform: scale(0.9, 0.9);
}

table button{
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s;
}

table button:hover{
  transform: scale(0.9, 0.9);
}

.delete-row-btn{
  color: white;
  background-color: rgb(255, 42, 42);
}